body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-image: linear-gradient(30deg, #05132e, #3968c0);
    background-size: 180% 180%;
    animation: gradient-animation 16s ease infinite;
    z-index: -3;
}

#tooltip {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#overlay {
    display: none;
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s;
    background-color: rgba(0, 0, 0, 0.6);
}

#start {
    display: flex;
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    opacity: 1;
    transition: opacity 3s;
    background-color: black;
}

#decor {
    position: fixed;
    height: 31em;
    bottom: -257px;
    right: -108px;
    opacity: 5%;
    z-index: -2;
}

#decor2 {
    opacity: 0.1;
    position: absolute;
    height: 10vh;
    z-index: -2;
}

#decor2 {
    display: flex;
    top: 17vh;
    left: -3vw;
}

header {
    display: flex;
    position: absolute;
    top: 0.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    width: 90vw;
    flex-direction: column;
    align-items: center;
}

h1,
p {
    color: white;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
}

h2 {
    margin: 0;
    font-size: 1.25em;
    font-weight: 500;
    color: #61D095;
}

#mode {
    display: flex;
    background-color: #376d12;
    padding: 4px 8px;
    border-radius: 10px;
}

#chapters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
    font-family: 'Tajawal', sans-serif;
}

#chapters button {
    transition: background-color 0.2s, color 0.2s, height 0.5s;
}

#chapters button:hover, #chapters button:active {
    color:white;
    height: 20vh;
}

#item1:hover, #item1:active {
    background-color: #5d86d3;
}

#item2:hover, #item2:active {
    background-color: #3ca4d7;
}

#item3:hover, #item3:active {
    background-color: #25cccd;
}

#item4:hover, #item4:active {
    background-color: #849c1b;
}

#item5:hover, #item5:active {
    background-color: #652e0e;
}

#item6:hover, #item6:active {
    background-color: #650e0e;
}

#choices {
    display: none;
    margin: 1em;
    
}

#choices button {
    height: auto;
    width: auto;
    font-size: 1em;
    transition: background-color 0.2s, color 0.2s;
}

#choices button:hover, #choices button:active {
    color:white;
}

#withTime button:hover, #withTime button:active {
    background-color:#650e0e;
}

#noTime button:hover, #noTime button:active {
    background-color:#10815b;
}

#back:hover, #back:active {
    background-color:#1a4087;
}

.material-symbols-rounded {
    display: flex;
    font-size: 2em;
}

#chooseChapter {
    display: flex;
    font-size: 2em;
    margin: 2.5em 0 0;
}

#countdown {
    transition: font-size 1s;
}

#countdownWrapper {
    font-size: 1.5em;
    margin: 0;
    background-color: #ccdeee;
    color: #110d0d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.12), 0px 1.6px 3.6px rgba(0, 0, 0, 0.16);
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    font-weight: 600;
    font-family: inherit;
    margin: 1em 1em;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.12), 0px 1.6px 3.6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    font-size: 1.2em;
    height: 5em;
    width: 5em;
}

a {
    text-decoration: none;
}

#habis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 3em;
}

#form {
    width: 100%;
    height: 80%;
    border: 0;
    margin: 0;
    border-radius: 10px;
    transition: height 1s;
}

footer {
    margin: 1em;
    position: fixed;
    bottom: 0;
    margin: 6px;
}

@media (max-width: 700px) {

    #form {
        width: 100%;
        height: 80%;
    }

    main {
        justify-content: center;
    }

    header {
        align-items: center;
    }

    #decor img {
        height: 11em;
        bottom: -83px;
        right: -32px;
    }

    #decor2,
    #decor4 {
        display: none;
    }

    h2 {
        font-size: 0.9em;
    }

    h1 {
        font-size: 1.5em;
    }

    #countdownwrapper {
        font-size: 0.8em;
        position: relative;
    }

    #art {
        display: none;
    }

    #logo {
        height: 2em;
    }

    #chooseChapter {
        display: none;
    }
}